h1 {
            color: red;
        }

        h2 {
            color: orange;
        }

        h3 {
            color: gold;
        }

        h4 {
            color: green;
        }

        h5 {
            color: blue;
        }

        h6 {
            color: purple;
        }
        button {
            color: pink;
        }