.navu > li{
  height: 100px; 
  width: 800px;
  background-color: blueviolet;
  border: 5px solid black;
  display: inline-block;
  text-decoration: none;
  margin: 50px;
}
.navl > li > a {
  color: black;
   height: 100px; 
  width: 800px;
  background-color: orange;
  border: 5px solid rgb(245, 0, 0);
  display: inline-block;
  text-decoration: none;
}