body{
    margin: 0;
}

.unitnav2, .unitnav3 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.unitnav2{
  display: flex;              /* horizontal menu; change to column for vertical nav */
  gap: 1rem;
  align-items: center;
}
.unitnav2 > li {
  position: relative;         /* for submenu absolute positioning */
}
.unitnavlink, .unitnav2 > li > a {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  color: #111;
  text-decoration: none;
}



/* h5{
  width: 100px;
  position: relative;
  top: 100px;
  margin: 20px auto;
  rotate: 45deg;
  text-align: center;
  border-color: #003049;
  background-color: #d62828 ;
  border-width: 3px;
  border-style: solid;
  
}

h5:nth-of-type(1){
  color: #f77f00;
  rotate: 90deg;
  position: relative;
  background-color: #eae2b7;

}
h5:nth-of-type(2n){
  scale: 1;
  transform: skew(30deg);
} */

h2{
  display: flex;
  align-items: center;
}