h1 {
            color: red;
        text-decoration: underline wavy; color: #4724e3;
        font-family: Arial, Helvetica, sans-serif;
        }

h2 {
            color: #e38424;
       text-decoration:underline;
    font-family: Arial, Helvetica, sans-serif;}
h3 {
            color: gold;
        }
h4 {
            color: green;
        }
h5 {
            color: blue;
        }
h6 {
            color: purple;
        }
button {
            color: pink;
        }
body { color: #4724e3;
background-color: palegoldenrod;
text-decoration-style:underline;
}
section {color: #e38424;
    font-weight: 400;
}