/* body{
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}
button{
    background: none;
    color: blueviolet;
    border: 2px solid ;
    padding: 10px;
    font-size: 1em;
}
button:hover{
    border-color: yellow;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.5em yellow ;
    transform: translateY(-0.25em);
    transition: border-color 0.20s, color 0.20s, box-shadow 0.20s, transform 0.20s;
    cursor: pointer;
} */
 /* <!-- <button>BallSack</button> --> */
.container{
    background-color: #000000;
    width: 100%;
    height: 200px;                  /* the set height determines how all of the flex elements will max out at*/
    margin: 0;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
h1{color: white;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    position

}
.div{
    background-color: #f77f00;
    height: 1.5em;
    width: 100%;
    border: 1px solid #000000;
    font-family: monospace;
    color: black;
    font-size: 24px;
    text-align: center;
}
.navlink{
    text-decoration: none;
    color: black;
}
.navlink:hover{
    cursor: pointer;
    color: white;
}
.lessonlink:hover{
    cursor: pointer;
    color: white;
}
.lessonlink{
    background-color: #f77f00;
    height: 1;
    width: 100%;
    border: 1px solid black;
    font-family: monospace;
    color: black;
    font-size: 16px;
    text-align: center;
    display: flex;

}
