/* body{
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
} */
.container{
    color: white;
    background-color: black;
    width: 100%;
    height: 300px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
h1{color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    position: absolute;
    display: inline-block center;
}
.div2 {
    background-color: #f77f00;
    height: 1.5em;
    width: 100%;
    border: 1px solid #000000;
    font-family: monospace;
    color: black;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.navlink{
    text-decoration: none;
    color: black;
}
.navlink:hover{
    cursor: pointer;
    color: white;
}
.lessonlink{
    background-color: #f77f00;
    height: min-content;
    width: 100%;
    border: 1px solid black;
    font-family: monospace;
    color: black;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
